.card-con
{
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    width: 20%;


}
:hover.card-con
{
    transform: scale(1.1);
    transition: 0.2s;
    box-shadow:  1px 1px 1px 1px;
}
.card-img img
{
    width: 100%;
}

.card-txt
{
  margin-top: 10px;
  height: auto;
}
.facility
{
    font-size: 16px;

}
.room-price
{
    color: #2A90D9;
    font-size: 20px;
}
.card-con:hover
{
    box-shadow:  2px 2px 2px 2px;
}
 @media screen and (max-width:400px){

    .card-con
    {
        width: 80%;
    }
    .card-img img
    {
         width: 100%;
    }
    
 }